.admin-container {
    width: 80%;
    margin: 0 auto;
    padding: 150px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(197, 15, 15, 0.5);
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background: #007bff;
    color: #fff;
}

.card-body {
    padding: 20px;
}

.form-label {
    font-size: 16px;
}

.form-control, .form-select {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.admin-btn:hover {
    background: #0374ec;
}

.cancel-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.user-list {
    margin-top: 20px;
}

.user-list h2 {
    margin-bottom: 20px;
}

.user-list ul {
    list-style: none;
    padding: 0;
}

.user-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background: #ffc107;
    margin-right: 10px;
}

.edit-btn:hover {
    background: #e0a800;
}

.delete-btn {
    background: #dc3545;
}

.delete-btn:hover {
    background: #c82333;
}
